<ion-header [translucent]="true">
  <mapy73pl-main-toolbar></mapy73pl-main-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid [fixed]="true" >
    <h1>{{siteName}}</h1>
  
    <p>W serwisie nie zbieram żadnych danych osobowych dla nich samych ani w żaden sposób was nie profiluje.</p>
    <p>Jednak korzystanie ze stron WWW wiąże się z zostawianiem pewnych danych na serwerze. Tym samym wyświetlanie tego serwisu w przeglądarce internetowej powoduje zapisanie informacji o zapytaniu w logach serwera. Są to m.in.:</p>
  
      <p>– publiczny adres IP komputera z którego nadeszło zapytanie</p>
      <p>– data i czas na serwerze w momencie nadejścia zapytania</p>
      <p>– informacje o przeglądarce internetowej i systemie operacyjnym z jakich korzysta użytkownik</p>
      <p>– adres URL strony poprzednio odwiedzanej przez użytkownika (referer link) gdy przejście do serwisu nastąpiło przez odnośnik</p>
      <p>Nie podejmuje żadnych wysiłków mających na celu powiązanie tych danych z konkretnymi osobami, z wyjątkiem działań niezgodnych z prawem (np. próba włamania). Zebrane informacje służą do celów statystycznych oraz do zapewnienia poprawności działania serwisu.</p>  
  </ion-grid>
</ion-content>
