<ion-header [translucent]="true">
  <mapy73pl-main-toolbar></mapy73pl-main-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid [fixed]="true" >
    <h1>{{siteName}}</h1>
    <p>
      W związku z udostępnianiem usług internetowych, serwis stosuje tzw. cookies, tj. dane informatyczne, 
      w szczególności pliki tekstowe zapisywane przez serwery na urządzeniu końcowym użytkownika,
      które serwery mogą odczytać przy każdorazowym połączeniu się z tego urządzenia końcowego.
    </p>
    <p> 
      Serwis stosuje cookies służące do zbierania informacji o sposobie korzystania ze strony m.in.: 
      cookies google-analytics.com – statystyki dla witryny. 
      Proszę o zapoznanie się ze szczegółami polityki prywatności Google Analytics 
      <a href="https://business.safety.google/privacy/" target="_blank">[Link]</a>
    </p>
  
    <p>
      A że was cenię i nie podoba mi się profilowanie ludzi, postarałem się zabronić jak najwięcej z tych opcji, tak to teraz się przedstawia w serwisie:
    </p>
  
    <ion-grid [fixed]="true" class="rpt-info">
      <ion-row>
        <ion-col size="6" size-md="2" >Typ</ion-col>
        <ion-col size="6" size-md="2"><ion-text color="warning">Status</ion-text> w mapy73.pl</ion-col>
        <ion-col size="12" size-md="8">Opis</ion-col>
      </ion-row> 
      <ion-row>
        <ion-col size="6" size-md="2" >ad_storage	</ion-col>
        <ion-col size="6" size-md="2" ><ion-text color="warning">[zabroniono]</ion-text></ion-col>
        <ion-col size="12" size-md="8" >Umożliwia przechowywanie danych (np. plików cookie) związanych z reklamami.</ion-col>
      </ion-row> 
      <ion-row>
        <ion-col size="6" size-md="2">ad_user_data	</ion-col>
        <ion-col size="6" size-md="2"><ion-text color="warning">[zabroniono]</ion-text></ion-col>
        <ion-col size="12" size-md="8">	Określa stan zgody na wysyłanie do Google danych użytkownika związanych z reklamami. Typ zgody ad_user_data jest wymagany w przypadkach użycia związanych z pomiarem, np. na potrzeby konwersji rozszerzonych i śledzenia konwersji na podstawie tagu.</ion-col>
      </ion-row> 
      <ion-row>
        <ion-col size="6" size-md="2">ad_personalization</ion-col>
        <ion-col size="6" size-md="2"><ion-text color="warning">[zabroniono]</ion-text></ion-col>
        <ion-col size="12" size-md="8">Określa stan zgody na reklamy spersonalizowane.</ion-col>
      </ion-row> 
      <ion-row>
        <ion-col size="6" size-md="2">functionality_storage	</ion-col>
        <ion-col size="6" size-md="2"><ion-text color="warning">[zabroniono]</ion-text></ion-col>
        <ion-col size="12" size-md="8">Umożliwia przechowywanie danych, które obsługują funkcje witryny lub aplikacji, np. ustawień języka.</ion-col>
      </ion-row> 
      <ion-row>
        <ion-col size="6" size-md="2">personalization_storage</ion-col>
        <ion-col size="6" size-md="2"><ion-text color="warning">[zabroniono]</ion-text></ion-col>
        <ion-col size="12" size-md="8">Umożliwia przechowywanie danych dotyczących personalizacji, np. rekomendacji filmów</ion-col>
      </ion-row> 
      <ion-row>
        <ion-col size="6" size-md="2">security_storage</ion-col>
        <ion-col size="6" size-md="2"><ion-text color="warning">[zabroniono]</ion-text></ion-col>
        <ion-col size="12" size-md="8">Umożliwia przechowywanie danych związanych z zabezpieczeniami, takimi jak funkcja uwierzytelniania, zapobieganie oszustwom i inne mechanizmy ochrony użytkowników.</ion-col>
      </ion-row> 
      <ion-row>
        <ion-col ></ion-col>
        <ion-col ></ion-col>
        <ion-col >&nbsp;</ion-col>
      </ion-row> 
      <ion-row>
        <ion-col size="6" size-md="2">analytics_storage</ion-col>
        <ion-col size="6" size-md="2"><ion-text color="secondary">zezwolono</ion-text></ion-col>
        <ion-col size="12" size-md="8">Umożliwia przechowywanie danych (np. plików cookie) dotyczących statystyk, np. czasu trwania wizyty.</ion-col>
      </ion-row> 
    </ion-grid>
  
  
    <p>
      Oprogramowanie służące do przeglądania stron internetowych (przeglądarka internetowa) domyślnie dopuszcza przechowywanie 
      plików cookies w urządzeniu końcowym użytkownika. Użytkownicy serwisu mogą dokonać w każdym czasie zmiany ustawień dotyczących 
      plików cookies. Ustawienia te mogą zostać zmienione w szczególności w taki sposób, aby blokować automatyczną obsługę 
      plików cookies w ustawieniach przeglądarki internetowej, bądź informować o ich każdorazowym zamieszczeniu w urządzeniu 
      użytkownika serwisu internetowego.
    </p>
    <p>
      Szczegółowe informacje o możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach oprogramowania (przeglądarki internetowej).
      Niedokonanie zmiany ustawień w zakresie cookies oznacza, że będą one zamieszczone w urządzeniu końcowym użytkownika,
       a tym samym będziemy przechowywać informacje w urządzeniu końcowym użytkownika i uzyskiwać dostęp do tych informacji.
      Zmienić warunki przechowywania lub otrzymywania plików Cookie można poprzez zmianę ustawień w przeglądarce internetowej, np:    
    </p>
    <p>
      w przeglądarce Mozilla Firefox <a href="https://support.mozilla.org/pl/kb/ciasteczka/" target="_blank">[Link]</a><br>
      w przeglądarce Chrome <a href="https://support.google.com/chrome/answer/95647?hl=pl" target="_blank">[Link]</a><br>
      w przeglądarce Safari <a href="https://support.apple.com/pl-pl/105082" target="_blank">[Link]</a><br>
    </p>
    <p>Więcej o plikach cookies przeczytasz m.in. na Wikipedi <a href="https://pl.wikipedia.org/wiki/HTTP_cookie" target="_blank">[Link]</a></p>
  
  </ion-grid>

</ion-content>