.m73-link {
  cursor: pointer;
}

ion-row {
  border-bottom: 1px solid black;
}

ion-col {
  display: flex;
  align-items: center;
}

.m73-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 100px;
}