<ion-header [translucent]="true">
  <mapy73pl-main-toolbar></mapy73pl-main-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-paddi2ng">

  <ion-grid [fixed]="true" class="ov-hidden" >
    <div class="flex-center">
      <ion-img
        src="/assets/przemienniki-mapa.jpeg"
        alt="Przemienniki na mapie Polski"
        class="img-map"
      ></ion-img>
     <ion-text class="biger-on-screen" color="primary">
      <div class="flex-center"><ion-button [routerLink]="['/przemienniki']" class="ion-text-wrap">Znajdź</ion-button> na mapie </div>
      <div>&nbsp;&nbsp;&nbsp; najbliższy przemiennik</div>
      
     </ion-text>
    </div>
    <div class="ul">
      <ion-card class="li" *ngFor="let rpt of fmLink">
        <ion-card-header>
          <ion-card-title>{{rpt.s}}</ion-card-title>
          <ion-card-subtitle>FM-Link</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div>
           Wysokość {{rpt.h}} m n.p.m.<br>
           TX: {{rpt.t}} MHz
          </div>
          <ion-button [routerLink]="['/repeater',rpt.n]" fill="outline" class="btn-fmLink">{{rpt.n}}</ion-button>
        </ion-card-content>
      </ion-card>   

      <!-- <ion-card class="li">
        <ion-card-header>
          <ion-card-title>aaa</ion-card-title>
          <ion-card-subtitle>FM-Link</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div>
           Wysokość 1015 m n.p.m.<br>
           TX: 439.2875 MHz
          </div>
          <ion-button [routerLink]="['/repeater','SR']" fill="outline" class="btn-fmLink">SR6</ion-button>
        </ion-card-content>
      </ion-card>    -->
      
      




    </div>

    
  </ion-grid>
</ion-content>
