<ion-header [translucent]="true">
  <mapy73pl-main-toolbar></mapy73pl-main-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-paddi2ng">

  <ion-grid [fixed]="true" class="ov-hidden" >
    <div class="flex-center">
      <ion-img
        src="/assets/przemienniki-mapa.jpeg"
        alt="Przemienniki na mapie Polski"
        class="img-map"
      ></ion-img>
     <ion-text class="biger-on-screen" color="primary">
      <div class="flex-center"><ion-button [routerLink]="['/przemienniki']" class="ion-text-wrap">Znajdź</ion-button> na mapie </div>
      <div>&nbsp;&nbsp;&nbsp; najbliższy przemiennik</div>
      
     </ion-text>
    </div>
    <div class="ul">
      <ion-card class="li" *ngFor="let rpt of fmLink">
        <ion-card-header>
          <ion-card-title>{{rpt.s}}</ion-card-title>
          <ion-card-subtitle>FM-Link</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div>
           Wysokość {{rpt.h}} m n.p.m.<br>
           TX: {{rpt.t}} MHz
          </div>
          <ion-button [routerLink]="['/repeater',rpt.n]" fill="outline" class="btn-fmLink">{{rpt.n}}</ion-button>
        </ion-card-content>
      </ion-card>   
    </div>

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>fmPoland</ion-card-title>
          <ion-card-subtitle>najnowsze przemienniki</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div *ngFor="let rpt of fmPoland"><a [routerLink]="['/repeater',rpt.i]">{{rpt.i}}</a> {{rpt.p}}<span *ngIf="rpt.x">, {{rpt.x.toFixed(4)}} MHz</span></div>
        </ion-card-content>
      </ion-card>  

      <div class="box-db-update-info">
        <ion-card  style="width: 330px" >
          <ion-card-header>
            <ion-card-title>Aktualizacja bazy przemienników</ion-card-title>
            <ion-card-subtitle>2025-11-14 (DMR i fmPoland)</ion-card-subtitle>
          </ion-card-header>
        </ion-card>          
      </div>
      
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Przemienniki DMR</ion-card-title>
          <ion-card-subtitle>w Polsce</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div *ngFor="let rpt of plDMR"><a [routerLink]="['/repeater',rpt.i]">{{rpt.i}}</a> {{rpt.p}}<span *ngIf="rpt.x">, {{rpt.x.toFixed(4)}} MHz</span></div>
        </ion-card-content>
      </ion-card>        
    </ion-col>
  </ion-row>    
  </ion-grid>
</ion-content>
