<ion-header [translucent]="true">
  <mapy73pl-main-toolbar></mapy73pl-main-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid [fixed]="true" >
    <h1>{{siteName}}</h1>
    <ion-list >
      <ion-item [button]="true" [routerLink]="['/przemienniki']" [routerDirection]="'root'">
        <ion-icon aria-hidden="true" color="secondary" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Mapa przemienników</ion-label>
      </ion-item>
      <!-- <ion-item [button]="true">
        <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Shopping</ion-label>
      </ion-item> -->
      <ion-item [button]="true" [routerLink]="['/page','privacy-policy']" >
        <ion-icon aria-hidden="true" color="success" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Polityka prywatności</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item [button]="true" [routerLink]="['/page','news']" >
        <ion-icon aria-hidden="true" color="danger" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Aktualności</ion-label>
      </ion-item>         
      <ion-item [button]="true" href="https://www.youtube.com/@HotelFoxtrotTangoEcho?sub_confirmation=1" target="_blank">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://yt3.googleusercontent.com/GxYILYmEWnv2pknJJX5h0jZzYngVahcKUTeUfpaHbWxuavS-STuTuGXs-M8eTfkASYnAF_8A=s160-c-k-c0x00ffffff-no-rj" />
        </ion-avatar>
        <ion-label>&nbsp; Nadworny programista: Hotel Foxtrot    Tango Echo</ion-label>
      </ion-item>      
    </ion-list>


  </ion-grid>
</ion-content>
