.flag {
margin-top: 20px;
font-size: 1.625rem;
margin-bottom: 10px;
font-weight: 500;
line-height: 1.2;
}

h1{ font-weight: 600;}

// .info {
//   white-space: pre-line; 
// }

// a {
//   color: #fff;
//   display: block;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   overflow: hidden;
//   margin: 2px 0;
// }